.gradle
build
.idea
out
ssh.properties
resultFiles
filesOfChanges
rncCreationCommands
oldFiles
*.mos
*.csv
src/test
node_modules
out-tsc
oldCommands
dist
.editorconfig
karma.conf.js
Rnc-ui
static
logging.log
*.zip
src/main/java/com/Test2.java