<div class="container">

  <div class="grid">
    <div class="grid__header">
      <div class="grid__header__item"  *ngFor="let header of rncModification.headers">{{header}}</div>
    </div>
    <div class="grid__body">
      <div class="grid__body__line"   *ngFor="let line of rncModification.values; let q = index; trackBy:trackByFn">
        <div class="grid__body__line__elem" *ngFor="let item of line.cells; let i = index; trackBy:trackByFn">
          <div class="cell-option">
            <mat-select [value]="item.possibleValues[0].defaultValue"
              (selectionChange)="checkIfCurrentValueAvailable($event, q, i)" [(ngModel)]="item.defaultValue"
              [ngStyle]="{'background-color': item.valid ? '' : '#ffcccb' }"
              *ngIf=" item.possibleValues; else elseBlock">

              <mat-option *ngFor="let val of item.possibleValues" [value]="val.defaultValue">
                {{val.defaultValue}}
              </mat-option>

            </mat-select>
          </div>

          <ng-template #elseBlock>

            <div class="cell">
              <div class="cell-value"
                [ngStyle]="{'background-color': item.valid == null || (item.valid != null && item.valid !== false)   ? '' : '#ffcccb' }">
                {{item.defaultValue}}
              </div>
            </div>

          </ng-template>

        </div>
      </div>
    </div>
  </div>

</div>